<h3 mat-dialog-title>Actualizati curs</h3>

<form #updateCursForm="ngForm" (ngSubmit)="updateCurs(); updateCursForm.resetForm()">

  <label>Actualizati numele cursului: </label>
  <input type="text" [(ngModel)]="course.name" name="nume"
         required
         #numeCurs="ngModel">
  <br>
  <small *ngIf="numeCurs.invalid && numeCurs.dirty" class="errorMessage">Numele este obligatoriu</small>

  <br>
  <br>

  <button type="submit" [disabled]="updateCursForm.invalid" class="normalButton">Actualizati</button>

</form>



