<h3 mat-dialog-title>Actualizati facultatea</h3>

<form #updateCollegeForm="ngForm" (ngSubmit)="updateCollegeButton(); updateCollegeForm.resetForm()">

  <label>Actualizati numele facultatii: </label>
  <input type="text"
         [(ngModel)]="college.nume" name="nume facultate"
         required
         #nameCollege="ngModel">
  <br>
  <small *ngIf="nameCollege.invalid && nameCollege.dirty" class="errorMessage">Numele facultatii este
    obligatoriu</small>


  <br>


  <label>Actualziati strada: </label>
  <input type="text" [(ngModel)]="college.strada" [ngModelOptions]="{standalone: true}">
  <br>
  <br>


  <label>Actualziati numarul strazii: </label>
  <input type="number" [(ngModel)]="college.nr" [ngModelOptions]="{standalone: true}">
  <br>
  <br>


  <label>Actualziati telefon: </label>
  <input type="text" [(ngModel)]="college.telefon" [ngModelOptions]="{standalone: true}">
  <br>
  <br>

  <button type="submit" class="normalButton" [disabled]="updateCollegeForm.invalid">Actualizati facultatea</button>
</form>
