<h3 mat-dialog-title>Adaugati facultate</h3>

<form #addCollegeForm="ngForm" (ngSubmit)="addCollege(); addCollegeForm.resetForm()">

  <label>Introduceti numele facultatii: </label>
  <input type="text"
         required
         [(ngModel)]="college.nume" name="nume facultate"
         #nameCollege="ngModel">
  <br>
    <small *ngIf="nameCollege.invalid && nameCollege.touched" class="errorMessage">Numele facultatii este
    obligatoriu</small>


  <br>


  <label>Introduceti strada: </label>
  <input type="text"
         [(ngModel)]="college.strada" name="strada">
  <br>
  <br>


  <label>Introduceti numarul strazii: </label>
  <input type="number"
         [(ngModel)]="college.nr" name="nr">
  <br>
  <br>


  <label>Introduceti telefon: </label>
  <input type="text"
         [(ngModel)]="college.telefon" name="telefon">
  <br>
  <br>

  <button type=submit class="normalButton" [disabled]="addCollegeForm.invalid">Adaugati facultate</button>

</form>


